#encabezado {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 5%;
    height: 120px;
    background-color: #011424;
    box-shadow: 0px 0px 5px 2px #3F8FCF;
    color: white;
    font-size:calc(12px + 0.3vw);
}

#logo{
    margin-top: 10px;
    width: 80px;
}

h1{
    padding-left: 2%;
}

img{
    width: 100px;
    height: 100px;
}